Source: kde-cli-tools
Priority: extra
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 4:None),
               kdoctools-dev (>= 4.100.0),
               kio-dev (>= 4.100.0),
               kgendesignerplugin (>= 4.100.0),
               kinit-dev (>= 4.100.0),
               libkf5attica-dev (>= 4.100.0),
               libkf5auth-dev (>= 4.100.0),
               libkf5bookmarks-dev (>= 4.100.0),
               libkf5codecs-dev (>= 4.100.0),
               libkf5completion-dev (>= 4.100.0),
               libkf5config-dev (>= 4.100.0),
               libkf5configwidgets-dev (>= 4.100.0),
               libkf5coreaddons-dev (>= 4.100.0),
               libkf5crash-dev (>= 4.100.0),
               libkf5dbusaddons-dev (>= 4.100.0),
               libkf5emoticons-dev (>= 4.100.0),
               libkf5globalaccel-dev (>= 4.100.0),
               libkf5guiaddons-dev (>= 4.100.0),
               libkf5i18n-dev (>= 4.100.0),
               libkf5iconthemes-dev (>= 4.100.0),
               libkf5itemmodels-dev (>= 4.100.0),
               libkf5itemviews-dev (>= 4.100.0),
               libkf5jobwidgets-dev (>= 4.100.0),
               libkf5kcmutils-dev (>= 4.100.0),
               libkf5kdelibs4support-dev (>= 4.100.0),
               libkf5kdelibs4support5-bin (>= 4.100.0),
               libkf5khtml-dev (>= 4.100.0),
               libkf5kjs-dev (>= 4.100.0),
               libkf5notifications-dev (>= 4.100.0),
               libkf5parts-dev (>= 4.100.0),
               libkf5pty-dev (>= 4.100.0),
               libkf5service-dev (>= 4.100.0),
               libkf5solid-dev (>= 4.100.0),
               libkf5sonnet-dev (>= 4.100.0),
               libkf5su-dev (>= 4.100.0),
               libkf5textwidgets-dev (>= 4.100.0),
               libkf5unitconversion-dev (>= 4.100.0),
               libkf5wallet-dev (>= 4.100.0),
               libkf5widgetsaddons-dev (>= 4.100.0),
               libkf5windowsystem-dev (>= 4.100.0),
               libkf5xmlgui-dev (>= 4.100.0),
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               pkg-kde-tools,
               qtbase5-dev,
               xvfb
Standards-Version: 3.9.5
Section: libs
Homepage: https://projects.kde.org/projects/kde/workspace/kde-cli-tools
Vcs-Browser: https://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging/kde-cli-tools
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging/kde-cli-tools

Package: kde-cli-tools
Section: utils
Architecture: any
Depends: kde-cli-tools-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: tools to use KDE services from the command line
 These command line tools enable you to use KDE services such as
 kioslaves, kdesu, QtSVG, kcontrol modules, KDE trader and start
 applications from the command line.
 .
 This package is part of the KDE Plasma.

Package: kde-cli-tools-data
Section: libs
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: tools to use kioslaves from the command line
 These command line tools enable you to use KDE services such as
 kioslaves, kdesu, QtSVG, kcontrol modules, KDE trader and start
 applications from the command line.
 .
 This package is part of the KDE Plasma.
 .
 This package contains the data files

Package: kde-cli-tools-dbg
Section: debug
Architecture: any
Recommends: qtbase5-dbg
Depends: kde-cli-tools (= ${binary:Version}), ${misc:Depends}
Description: tools to use kioslaves from the command line
 These command line tools enable you to use KDE services such as
 kioslaves, kdesu, QtSVG, kcontrol modules, KDE trader and start
 applications from the command line.
 .
 This package is part of the KDE Plasma.
 .
 This package contains the debugging symbols.
